body {
  grid-template-areas: "header header"
    "nav nav"
    "h2 h2"
    "p p"
    "section section"
    "article article"
    "footer footer"
    "address address";
}
h2 {
  grid-area:h2;
}
p {
  grid-area:p;
}
section {
  grid-area:section;
  margin-left: auto;
  margin-right: auto;
}
article {
  grid-area: article;
  margin-bottom: 4%;
  column-count: 3;
  column-width: 2rem;
  column-gap: 12%;
  column-rule-style: double;
  column-rule-width: thick;
}
.flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8%;
  margin-top: 2%;
}
.flex-item {
  background: #536ce7;
  padding: 2%;
  width: 20%;
  height: 60%;
  margin-top: 2%;
  line-height: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
  order:3;
  border-radius: 2em;
}
h4 {
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 120%;
}
h3 {
  font-size: 175%;
}
@media only screen and (max-width: 768px) {
  article {
    column-count: 1;
    column-width: 8rem;
    column-gap: 12%;
    column-rule-style: double;
    column-rule-width: thick;
  }
  .flex-container {
    margin-bottom: 25%;
    margin-top: 2%;
  }
  
  .flex-item {
    width: 80%;
    height: 25%;
  }
}
